@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
	background: $lightgreen;
	font-family: $font-sans;
	font-size: 1.2rem;
	line-height: 145%
}

#{headings()} {
	font-family: $font-sans;
}

/* Link Styling */
a {
	&:link {
		text-decoration: none;
		color: $baseRed;
	}
	&:hover, &:active {
		text-decoration:underline;
	}
	&:focus {
		outline: none;
	}
	&:visited {
		color: desaturate($baseRed, 20%);
	}
}